@media (max-width: 321px)

.grid
    grid-template-columns: 1fr !important
    width: 100%
    .flex
        flex-direction: column
        .impair
            display: none
        .pair
            display: none
nav
    grid-template-columns: 1fr
